flask==2.3.3
flask-sqlalchemy==3.0.5
flask-login==0.6.3
flask-wtf==1.2.1
wtforms==3.1.2
email_validator==2.1.0
bcrypt==4.0.1
pyjwt==2.8.0
python-dotenv==1.0.0
faker==19.3.0
pytest==7.4.0
pytz==2023.3